{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8", "ie 11", "iOS 6"]
      }
    }],
    "stage-3"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
