:root {
   --color-main: #0084f0;
   --white: black;
   --black: white;
   --bg-noactive: #120f0a;
   --color-text-content: #d9d9d9;
   --color-blue-grey: #5d5440;
   --color-yellow-grey: #0f0d0a;
   --color-blue-dark: #d9d9d9;
   --color-blue-black: #ffa861;
   --color-FAQ: #cfcecc;
   --color-hr: #0d0b0a;
   --color-value: #d9d9d9;
   --bg-wrapper: #0a0908;
   --bg-header_tabs: #030200;
   --bg-active: #110d05;
   --bg-popup: #060503;
   --color-title-app: #aaaaaa;
   --color-app-name-pro: #d9d9d9;
   --border-color-end: #262626;
   --bg-page-more: #0b0a08;
}