#app[theme=dark] {
   --color-main: #0084f0;
   --white: black;
   --black: white;
   --bg-noactive: #120f0a;
   --color-text-content: #d9d9d9;
   --color-blue-grey: #5d5440;
   --color-yellow-grey: #0f0d0a;
   --color-blue-dark: #d9d9d9;
   --color-blue-black: #ffa861;
   --color-FAQ: #cfcecc;
   --color-hr: #0d0b0a;
   --color-value: #d9d9d9;
   --bg-wrapper: #0a0908;
   --bg-header_tabs: #030200;
   --bg-active: #110d05;
   --bg-popup: #060503;
   --color-title-app: #aaaaaa;
   --color-app-name-pro: #d9d9d9;
   --border-color-end: #262626;
   --bg-page-more: #0b0a08;
   --color-help: #4b628a;
   --bg-rank: #050403;
   --color-index-rank: #272014;
   --color-point-rank: #524833;
   --bg-category-rank: #0d0d0a;
   --secondary-about: #dbcaa5;
   --white-a6: rgba(0, 0, 0, .6);
   --color-footer: rgb(175, 164, 148);
   --color-col: rgb(46, 39, 25);
}