#app[theme="normal"] {
   --color-main: rgb(0, 132, 240);
   --white: rgb(255, 255, 255);
   --black: rgb(0, 0, 0);
   --bg-noactive: rgb(237, 240, 245);
   --color-text-content: rgb(47, 64, 89);
   --color-blue-grey: rgb(162, 171, 191);
   --color-yellow-grey: rgb(240, 242, 245);
   --color-blue-dark: rgb(55, 77, 115);
   --color-blue-black: rgb(0, 87, 158);
   --color-FAQ: rgb(48, 49, 51);
   --color-hr: rgb(242, 244, 245);
   --color-value: rgb(11, 57, 95);
   --bg-wrapper: rgb(245, 246, 247);
   --bg-header_tabs: rgb(252, 253, 255);
   --bg-active: rgb(238, 242, 250);
   --bg-popup: rgb(249, 250, 252);
   --color-title-app: rgb(117, 136, 169);
   --color-app-name-pro: rgb(22, 43, 72);
   --border-color-end: rgb(217, 217, 217);
   --bg-page-more: rgb(244, 245, 247);
   --color-help: rgb(75, 98, 138);
   --bg-rank: rgb(250, 251, 252);
   --color-index-rank: rgb(216, 223, 235);
   --color-point-rank: rgb(173, 183, 204);
   --bg-category-rank: rgb(242, 242, 245);
   --secondary-about: rgb(36, 53, 90);
   --white-a6: rgba(0, 0, 0, .6);
}