.pagination-swiper {
               bottom: (-6.4vw * 2) !important;
               position: absolute !important;
               z-index: 9999 !important
            }

            .pagination-swiper .bullet {
               background-color: rgba(255, 202, 69, 0.3);
               margin-left: 0 1.067vw;
               width: 1.6vw;
               border-radius: 0.8vw;
               display: inline-block;
               height: 1.6vw;
            }

            .pagination-swiper .bullet.bullet-active {
               background-color: rgb(255, 202, 70);
               width: 4.267VW;
            }