   .main {
      overflow: hidden;

      .wrapper {
         margin-top: 11.567vw;

         .banner\.welcome {
            background: {
               image: url("/assets/home.bg.png");
               repeat: no-repeat;
               size: cover;
            }

            position: relative;
            overflow: hidden;
            height: 136vw;

            @mixin centerX {
               left: 50%;
               transform: translateX(-50%);
            }

            .cloud\.front {
               position: absolute;
               left: 0;
               top: 56.533vw;
               width: 100%;
            }

            .spaceship {
               width: 71.467vw;
               height: 70.4vw;
               position: absolute;
               top: 23.467vw;
               @include centerX;
               z-index: 2;
               animation: up-down 2s linear infinite;

               @keyframes up-down {}
            }

            .download {
               position: absolute;
               width: 66.4vw;
               height: 16vw;
               top: 86.133vw;
               @include centerX;
               z-index: 5;
            }

            .download\.button\.highlight {
               width: 84.533vw;
               height: 34.667vw;
               position: absolute;
               top: 77.333vw;
               z-index: 3;
               @include centerX;
            }

            .download\.button\.light {
               position: absolute;
               width: 84.533vw;
               height: 34.668vw;
               top: 77.333vw;
               z-index: 1;
               @include centerX;
            }

            .download\.download {
               position: absolute;
               top: 77.333vw;
               z-index: 2;
               width: 84.533vw;
               height: 34.667vw;
            }

            .slide-icon {
               position: absolute;
               top: 109.333vw;
               @include centerX;
               width: 4.267vw;
               height: 4.267vw;
               z-index: 4;
               animation: up-and-down 1s linear infinite;

               @keyframes up-and-down {}
            }

            .star-big {
               position: absolute;
               top: 10.667vw;
               left: 32vw;
               width: 12.267vw;
               height: 10.133vw;
            }

            .star {
               position: absolute;
               top: -.8vw;
               left: 54.667vw;
               width: 6.933vw;
               height: 5.333vw;
            }

            .cloud-left {
               position: absolute;
               left: 0;
               top: 20.8vw;
               width: 21.867vw;
               height: 5.333vw;
               animation: cloud-left 12s linear infinite;

               @keyframes cloud-left {
                  from {
                     left: -21.767vw;
                  }

                  to {
                     left: 100%;
                  }
               }
            }

            .cloud-right {
               position: absolute;
               right: 0;
               top: 36.8vw;
               width: 37.333vw;
               height: 9.067vw;
               animation: cloud-left 12s linear infinite;

               @keyframes cloud-left {
                  from {
                     right: -37.333vw;
                  }

                  to {
                     right: 100%;
                  }
               }
            }

            @keyframes fade-show {
               from {
                  opacity: .2;
               }

               to {
                  opacity: 1;
               }
            }

            .light-top {
               position: absolute;
               top: 7.2vw;
               left: 1.867vw;
               width: 56.267vw;
               height: 53.6vw;
               z-index: 1;
               animation: fade-show 2s ease infinite;
            }

            .light-bottom {

               position: absolute;
               top: 59.733vw;
               right: -6.133vw;
               width: 51.467vw;
               height: 49.067vw;
               z-index: 1;
               animation: fade-show 2s ease reverse infinite;
            }

         }

         .content {
            position: relative;
            overflow: hidden;

            background: {
               image:
                  url("/assets/home.transition.png");
               repeat: no-repeat;
               size: 100% auto;
               position: 0 0;
            }

            ;

            .guide-block {
               align-items: center;
               background-color: rgb(255, 255, 255);
               border-radius: 4.267vw;
               box-shadow: rgba(3, 14, 37, 0.06) 0 .8vw 5.333vw 0;
               box-sizing: border-box;
               display: flex;
               height: 17.6vw;

               margin: {
                  bottom: 4.267vw;
                  left: auto;
                  right: auto;
                  top: 4.267vw;
               }

               padding: {
                  bottom: 0;
                  left: 3.2vw;
                  right: 3.2vW;
                  top: 0;
               }

               position: relative;

               .left {
                  width: 6.933vw;
                  height: 6.933vw;
                  margin-right: 2.133vw;
               }

               span {
                  color: rgb(55, 77, 115);
                  font-size: 4.8vmin;
                  font-weight: 500;
                  line-height: 17.6vw;
               }

               .right {
                  margin-right: 3.2rem;
                  margin-left: 0;
                  align-self: self-end;
                  transform: rotate(-90deg);
               }
            }

            .applist {
               background-color: #fff;
               border-radius: 4.267vw;
               box-shadow: rgba(3, 14, 37, .06) 0 .8vw 5.333vw 0;
               box-sizing: border-box;
               margin-bottom: 5.333vw;
               margin-left: auto;
               margin-right: auto;
               margin-top: 0;
               overflow: hidden;
               padding-top: 1.067vw 4.267vw;
               width: 91.467vw;

               .title {
                  color: rgb(55, 77, 115);
                  display: block;
                  font-size: 4.8vmin;
                  font-weight: 500;
                  height: 15.467vw;
                  line-height: 15.467vw;
                  transform: translateX(-1.067vw);

                  img {
                     height: 6.933vw;
                     margin-right: 2.133vw;
                     vertical-align: middle;
                     width: 6.933vw;
                  }
               }

               .wrapper {
                  .list {
                     margin: 0;
                     padding: 0;

                     li {
                        .appinfo {
                           padding: 3.2vw 0;
                           position: relative;
                           display: flex;
                           justify-content: space-between;
                           align-items: center;

                           .content {
                              display: flex;

                              .icon {

                                 border-radius: 3.467vw;
                                 display: block;
                                 height: 18.667vw;
                                 width: 18.667vw;
                              }

                              .content {
                                 height: 18.667vw;
                                 justify-content: center;
                                 margin-left: 4.267vw;
                                 overflow: hidden;
                                 position: relative;
                                 text-align: left;
                                 width: 45.333vw;
                                 align-items: flex-start;
                                 display: flex;
                                 flex-direction: column;

                                 .app\.title {
                                    margin: 0;
                                    padding: 0;
                                    color: rgb(47, 64, 89);
                                    font-size: 4.267vmin;
                                    font-weight: 500;
                                    line-height: 5.867vw;
                                    margin-bottom: 2.133vw;
                                    overflow-x: hidden;
                                    text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                 }

                                 .VIP {

                                    border-radius: 3.467vw;
                                    display: block;
                                    height: 4.8vw;
                                    width: 8vw
                                 }
                              }
                           }

                           .button {
                              border: none;
                              outline: none;
                              border-radius: 50%;
                              height: 12.267vw;
                              width: 12.267vw;

                              background: {
                                 image: url("/assets/list.btn.download.svg");
                                 repeat: no-repeat;
                                 size: 100%;
                                 position: center;
                              }

                              ;
                           }
                        }
                     }
                  }
               }

               .check-more {
                  color: rgb(0, 132, 240);
                  display: inline-block;

                  font: {
                     size: 3.733vmin;
                     weight: 400;
                  }

                  line-height: 6.667vw;
                  margin-bottom: 6.4vw;
                  margin-top: 1.067vw;
                  text-align: center;
                  width: 100%;
               }
            }
         }

         .patreon {
            justify-content: center;
            margin-bottom: 5.333vw;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;

            .item {
               height: 8vw;
            }
         }
      }
   }