$colorMain: (rgb(0, 132, 240));
$white: invert(rgb(255, 255, 255));
$black: invert(rgb(0, 0, 0));
$bg-noactive: invert(rgb(237, 240, 245));
$color-text-content: rgb(217, 217, 217);//invert(rgb(47, 64, 89));
$color-blue-grey: invert(rgb(162, 171, 191));
$color-yellow-grey: invert(rgb(240, 242, 245));
$color-blue-dark: rgb(217, 217, 217);//invert(rgb(55, 77, 115));
$color-blue-black: invert(rgb(0, 87, 158));
$color-FAQ: invert(rgb(48, 49, 51));
$color-hr: invert(rgb(242, 244, 245));
$color-value: rgb(217, 217, 217);//invert(rgb(11, 57, 95));
$bg-wrapper: invert(rgb(245, 246, 247));
$bg-header_tabs: invert(rgb(252, 253, 255));
$bg-active: invert(rgb(238, 242, 250));
$bg-popup: invert(rgb(249, 250, 252));
$color-title-app: rgb(190, 190, 190);//invert(rgb(117, 136, 169));
$color-app-name-pro: rgb(217, 217, 217);//rgb(22, 43, 72);
$border-color-end: invert(rgb(217, 217, 217));

@mixin distance0 {
   margin: 0;
   padding: 0;
}

@mixin text-truncate($count: -1) {
   overflow-x: hidden;
   text-overflow: ellipsis;
      
   @if ($count==-1) {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $count;
   }
}
