@import "./variants";
//@import "~https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./material";

* {
   transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


* {
   margin: 0;
   padding: 0;
}

*,
::after,
::before {
   box-sizing: border-box;
}

button {
   outline: none;
   border: 0;
}

button:focus {
   outline: none;
}

hr {
   background-color: currentcolor;
   border: 0;
   margin: 1rem 0;
   opacity: 0.25,
}

:root {
   pink: #d63384;
   --bs-red: #dc3545;
   --bs-orange: #fd7e14;
   --bs-yellow: #ffc107;
   --bs-green: #28a745;
   --bs-teal: #20c997;
   --bs-cyan: #17a2b8;
   --bs-white: #fff;
   --bs-gray: #6c757d;
   --bs-gray-dark: #343a40;
   --bs-primary: #0d6efd;
   --bs-secondary: #6c757d;
   --bs-success: #28a745;
   --bs-info: #17a2b8;
   --bs-warning: #ffc107;
   --bs-danger: #dc3545;
   --bs-light: #f8f9fa;
   --bs-dark: #343a40;
   --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

*,
::after,
::before {
   box-sizing: border-box
}

body {
   margin: 0;
   font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: $white;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent
}

[tabindex="-1"]:focus:not(:focus-visible) {
   outline: 0 !important
}

hr {
   margin: 1rem 0;
   color: inherit;
   background-color: currentColor;
   border: 0;
   opacity: .25
}

hr:not([size]) {
   height: 1px
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: .5rem;
   font-weight: 500;
   line-height: 1.2
}

h1 {
   font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {
   h1 {
      font-size: 2.5rem
   }
}

h2 {
   font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {
   h2 {
      font-size: 2rem
   }
}

h3 {
   font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {
   h3 {
      font-size: 1.75rem
   }
}

h4 {
   font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
   h4 {
      font-size: 1.5rem
   }
}

h5 {
   font-size: 1.25rem
}

h6 {
   font-size: 1rem
}

p {
   margin-top: 0;
   margin-bottom: 1rem
}

ol,
ul {
   padding-left: 2rem
}

dl,
ol,
ul {
   margin-top: 0;
   margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
   margin-bottom: 0
}


a {
   color: #0d6efd;
   text-decoration: underline
}

a:hover {
   color: #024dbc
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
   color: inherit;
   text-decoration: none
}

img,
svg {
   vertical-align: middle
}

label {
   display: inline-block
}

button {
   border-radius: 0
}

button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit
}

button,
input {
   overflow: visible
}

button,
select {
   text-transform: none
}

[role=button] {
   cursor: pointer
}

select {
   word-wrap: normal
}

[list]::-webkit-calendar-picker-indicator {
   display: none
}

[type=button],
[type=reset],
[type=submit],
button {
   -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
   cursor: pointer
}

::-moz-focus-inner {
   padding: 0;
   border-style: none
}

fieldset {
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0
}

legend {
   float: left;
   width: 100%;
   padding: 0;
   margin-bottom: .5rem;
   font-size: calc(1.275rem + .3vw);
   line-height: inherit;
   white-space: normal
}

@media (min-width:1200px) {
   legend {
      font-size: 1.5rem
   }
}

legend+* {
   clear: left
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
   padding: 0
}

::-webkit-inner-spin-button {
   height: auto
}

[type=search] {
   outline-offset: -2px;
   -webkit-appearance: textfield
}

::-webkit-search-decoration {
   -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
   padding: 0
}

::-webkit-file-upload-button {
   font: inherit;
   -webkit-appearance: button
}

a {
   text-decoration: none;
}
p {
   @include distance0;
}

/* reset all css */